.align-center {
    text-align: center;
}
.full-height {
    height: 100%;
}
.container {
    box-sizing: border-box;
    padding: 10PX;
}
.m-l-5 {
    margin-left: 5PX;
}
.m-l-10 {
    margin-left: 10PX;
}
.m-t-5 {
    margin-top: 5PX;
}
.m-t-10 {
    margin-top: 10PX;
}
.m-t-20 {
    margin-top: 20PX;
}
.m-r-20 {
    margin-right: 20PX;
}
.m-b-10 {
    margin-bottom: 10PX;
}
.m-b-20 {
    margin-bottom: 20PX;
}
.pos-relative {
    position: relative;
}
.btn::after {
    display: none;
}
.flex-1 {
    flex: 1;
}
[src] {
    max-width: 100%;
}
[class="ql-align-center"] {
    text-align: center;
}